<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ГеймПати</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/js/jquery-3.6.3.js" type="text/javascript"></script>
</head>
<body>
<header>
    <div class="container">
        <nav>
            <a class="logo" th:href="@{/}">
                <img src="../static/img/logo.svg" alt="">
                <h1>LotusMind</h1>
            </a>
            <div class="auth">
                <div class="create">
                    <a th:href="@{/create}">Создать</a>
                </div>
                <div class="auth-inner" sec:authorize="isAuthenticated()">
                    <a th:href="@{/logout}" th:text="${username} + ', Выйти'">Выйти</a>
                </div>
                <div class="auth-inner" sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}" th:text="Войти"></a>
                </div>
            </div>
        </nav>
    </div>
</header>
<section class="scripts">
    <div class="container">
        <div scripts-inner>
            <div class="scripts-header">
                <form id="search">
                    <input id="searchInput" type="text" name="search" placeholder="Поиск" value="">
                    <button id="doSearch"><img  src="../static/img/Frame.svg" alt=""></button>
                </form>
                <div id="sort">
                    <h3>Сортировать: </h3>
                </div>
            </div>
            <div class="script" th:each="script : ${scripts}">
                <p class="script-datePublication" th:text="${script.getDatePublication()}"></p>
                <h4 class="script-title" th:text="${script.getTitle()}"></h4>
                <p class="script-synopsis" th:text="'Описание: ' + ${script.getSynopsis()}"></p>
                <p class="script-genre" th:text="'Жанры: ' + ${script.getGenresAsString()}"></p>
                <div class="script-footer">
                    <p class="script-duration" th:text="'Длительность чтения: ' + ${script.getDuration()} + ' мин.'"></p>
                    <p class="script-author" th:text="'Автор: ' + ${script.getAuthor()}"></p>
                </div>
                <a class="btn-readMore" th:href="@{'/script/' + ${script.getId()}}">Читать далее</a>
            </div>
            <div id="switches">
                <div id="switches-prev"><button><<</button></div>
                <div id="switches-next"><button>>></button></div>
            </div>
            <div id="pages">
                <p><span th:text="${page}"></span>  из  <span id="maxPage" th:text="${maxPage}"></span></p>
            </div>
        </div>
    </div>
</section>

<script src="../static/js/sort.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>